[submodule "third_party_libs/nvtt"]
	path = third_party_libs/nvtt
	url = https://github.com/Silverlan/nvidia-texture-tools.git
[submodule "third_party_libs/compressonator"]
	path = third_party_libs/compressonator
	url = https://github.com/GPUOpen-Tools/compressonator.git
